
.vm-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    gap: 10px;

    width: 100%;
    margin-bottom: 80px;
}

.box {
    position: relative;
    padding: 20px;

    background: linear-gradient(135deg, #0b1525, #2f5bae, #0b1525);
    background-size: 300% 300%;
    background-position: left center;

    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    height: 250px;
}

/* default text */
.box-text {
    position: relative;
    z-index: 2;
    transition: opacity 0.6s ease;
    color: white;
}

.highlight {
    color: #ff6f61;
}


.box-image {
    position: absolute;
    inset: 0; /* top:0 right:0 bottom:0 left:0 */
    opacity: 0;
    transition: opacity 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-image img {
    width: 108%;
    height: 100%;
}

/* overlay text on image */
.overlay-text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: left;

    padding: 20px;
    line-height: 0.9;
}

/* hover effect */
.box:hover .box-text {
    opacity: 0;
}

.box:hover .box-image {
    opacity: 1;
}

/* your existing hover effect stays */
.box:hover {
    transform: translateY(-30px);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.91);
}

/*Browser resize based on size(s)*/
@media (max-width: 1200px) and (min-width: 950px) {

    .slide-content {
        gap: 20px;
        padding: 0 20px;
    }

    .bnr11 {
        width: 500px;
        bottom: 0;
    }
}

@media (max-width: 949px) and (min-width: 700px) {
    .slide {
        display: flex;
        justify-content: center;
        align-items: center;

        min-height: 300px; 
    }

    .slide-content {
        gap: 20px;
        padding: 0 20px;
    }
    .bnr1 {
        width: 275px;
        bottom: 0;
    }
    .bnr11 {
        width: 350px;
        bottom: 0;
    }
}

@media (max-width: 699px) {
    .slide {
        display: flex;
        justify-content: center;
        align-items: center;

        min-height: 400px; 
    }

    .slide-content {
        gap: 20px;
        padding: 0 20px;
    }

    .bnr1 {
        width: 230px;
        position: absolute;
        bottom: 0;
        padding-right: 50px;
    }
    .bnr11 {
        display: none;
    }
    .bnr12 {
        display: block;
        width: 400px;
        padding-bottom: 250px;
    }
    
}