.slideshow-container {
    position: relative;
    height: auto;
    min-height: auto;
    width: 100%;
    min-width: 600px;

    overflow: hidden;

    margin-bottom: 10px;
    overflow: hidden;

} 

/* This is the moving track */
.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out; /* smooth slide */
    position: relative;
}

/* buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 15%;
}

.prev { left: 10px; }
.next { right: 10px; }

