.slide2 {
    min-width:100%;
    height:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;

    background:linear-gradient(135deg,#325d04,#f9a685,#04235d);
    background-size:200% 200%;
    background-position:left center;
    
    transition:background-position 1.5s ease;
}

.slide2:hover {
    background-position:right center;
}

.slide2-content {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;

    max-width:1000px;
    width:100%;
}

.bnr2 {
    width:360px;
}

.bnr21 {
    width:650px;
}

.bnr22 {
    display:none;
}

@media(max-width:1200px) and (min-width:950px){

    .slide2-content{
        gap:20px;
        padding:0 20px;
    }

    .bnr2{
        width:275px;
    }

    .bnr21{
        width:500px;
    }
}

@media(max-width:949px) and (min-width:700px){

    .slide2{
        min-height:300px;
    }

    .slide2-content{
        gap:20px;
        padding:0 20px;
    }

    .bnr2{
        width:275px;
    }

    .bnr21{
        width:350px;
    }
}

@media (max-width: 699px) {

    .slide2{
        width: 100vw;          /* stretches full left-to-right */
        min-height: 300px;
        min-width: 100px;
    }

    .slide2-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 600px;      /* keeps content from stretching too wide */
        margin: 0 auto;        /* centers it inside slide1 */
        height: 300px;
    }

    .bnr21{
        display:none;      
    }

    .bnr22{
        display:flex;
        max-width:300px;
        width: 100%;
        margin: 0 auto;        
        order:1;
    }

    .bnr2{
        width:190px;
        margin: 0 auto;
        order:2;
    }

}